html, body{
font-family: 'Roboto',Arial, sans-serif;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.002em;
    background-color: #FFFFFF;
    font-size: 16px;
    max-width: 1440px;
    min-width: 320px;
        margin: 0 auto;
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
}
img{
        display: block;
         width: 100%;
        
        height: auto;
}
ul,ol{
  list-style-type: none; 
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0px;
}

h2{
        font-size: 36px;
        letter-spacing: 0.002em;
        line-height: 1.11;
        color: #2E2F42;
}
h3 {
    font-size: 20px;
    letter-spacing: 0.002em;
    line-height: 1.2;
    font-weight: 500;
    color: #2E2F42;
    padding-bottom: 8px;
}



a{
    text-decoration: none;
        color: inherit;
       
       
}
span {
    color: #4D5AE5;
}

.context-text{
    background-color: white;
    padding: 32px 16px 8px 16px;
    text-align: center;
}
.portfolio-text{
    background-color: white;
        padding: 32px 16px;
       
}

.container {
    min-width: 320px;
    max-width: 428px;
    padding: 0 15px;
    margin: 0 auto;
}

.container {
    max-width: 1158px;
    min-width: 320px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
header .container{
    display: flex;
    padding: 24px 15px;
    border-bottom: 1px solid #E7E9FC;
    justify-content: space-between;
    align-items: center;
    
}

@media screen and (max-width: 767px) {

    .navbar,
    .address {
        display: none;
       
    }

    .menu-open-btn {
        display: block;
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        stroke: #2E2F42;
    }
}


.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  
    height: 100%;
   
    background-color: #FFFFFF;
    z-index: 9999;

    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 72px 24px 40px 16px;
}

.menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.menu-close-btn:hover,
.menu-close-btn:focus {
    background-color: #404BBF;
    border: none;
    fill: #ffffff;
}

.mobile-nav ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-nav ul li a {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.mobile-nav ul li a.active {
    color: #404BBF;
}

.mobile-contacts-connect {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.mobile-address ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-phone {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.11;
    color: #4D5AE5;
}

.mobile-email {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #434455;
}
.mobile-menu .mobile-socials{
    display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 40px;
}
.mobile-menu .mobile-socials .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;

   
    background-color: #4D5AE5;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.mobile-menu .mobile-socials .social-link:hover,
.mobile-menu .mobile-socials .social-link:focus {
    background-color: #404BBF;
    outline: none;
}


.mobile-menu .mobile-socials .social-link svg {
    width: 16px;
    height: 16px;
    fill: #F4F4FD;
  
    display: block;
}


@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

  
    .menu-open-btn,
    .mobile-menu {
        display: none !important;
    }

   
    .navbar {
        display: block;
    }

    .address {
        display: block;
    }

    
}



@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }

}


.main {
    flex-grow: 1;
}



.section-two {
    padding: 96px 0;
  
}


.section-two .container ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
   
    padding: 0;
    margin: 0;
    list-style: none;
}


.section-two .container ul li {
    width: 100%;
    max-width: 264px;
   
}


.section-two .container .about-icon {
    display: none;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    border-radius: 4px;
    border: 1px solid #8E8F99;
}


.section-two .container .about-icon svg {
    display: block;
    width: 64px;
    height: 64px;
}


.section-two h3 {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
    text-align: center;
}


.section-two p {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 500;
    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


@media screen and (min-width: 768px) {

   
    .section-two .container ul {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
    
        justify-content: flex-start;
    }

   
    .section-two .container ul li {
        width: calc((100% - 24px) / 2);
        max-width: 356px;
    }


    .section-two h3 {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: left;
    }

   
    .section-two p {
        font-weight: 400;
    }
}



@media screen and (min-width: 1158px) {
    .section-two {
        padding: 120px 0;
      
    }

    .section-two .container ul {
        gap: 24px;
    
    }

   
    .section-two .container ul li {
        width: calc((100% - 3 * 24px) / 4);
        max-width: 264px;
    }

   
    .section-two .container .about-icon {
        display: flex;
        margin-bottom: 8px;
    }
}


.logo {
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.003em;
    
  
}

.navbar ul {
    display: flex;
    gap: 40px;

}
.navbar ul li a{
    position: relative;
    display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.003em;
        color: #2E2F42;
  
}
.navbar ul li a::after {
    content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%) scaleX(0); 
        width: 100%;      
        height: 3px;
        background-color: rgba(64, 75, 191, 1);
        border-radius: 2px;
        transition: transform 0.3s ease;
        transform-origin: center;
        
}

.navbar ul li a:hover::after {
    transform: translateX(-50%) scaleX(1);
}

.navbar ul li .active{
    color: #2E2F42;
}
.navbar ul li .active::after {
    transform: translateX(-50%) scaleX(1);
}
.navbar ul li a:hover, a:focus {
    text-decoration: none;
    color: #404BBF;
    cursor: pointer;
    font-weight: 700;
}

.address ul {
    display: flex;
    gap: 40px;
}

.address ul li a {
        display: block;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing:0.003em;
        color:#434455;
      
}
.address ul li a:hover,
a:focus {
    text-decoration: none;
    color: #404BBF;
    cursor: pointer;
    
}


.section-title {
    margin-bottom: 72px;
        padding-bottom: 0;
        text-align: center;
}


.section-one {

    padding: 112px 0;
    text-align: center;
    background-color: #2E2F42;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;

    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/hero-background.png");
}


.section-one .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
   
}

.section-one .section-title {
    font-weight: 700;
    font-size: 36px;
  
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 320px;
  
    margin: 0;
}


@media screen and (max-width: 767px) and (min-resolution: 192dpi),
screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
    .section-one {
        
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/hero-background@2x.png");
    }
}



@media screen and (min-width: 768px) {
    .section-one {
        
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url("../images/hero-background.png");
    }

    .section-one .container {
        gap: 36px;
        
    }

    .section-one .section-title {
        font-size: 56px;
        color: #FFFFFF;
      
        line-height: 1.07;
        max-width: 496px;
      
    }
}


@media screen and (min-width: 768px) and (max-width: 1157px) and (min-resolution: 192dpi),
screen and (min-width: 768px) and (max-width: 1157px) and (-webkit-min-device-pixel-ratio: 2) {
    .section-one {
        
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/hero-background@2x.png");
    }
}




@media screen and (min-width: 1158px) {
    .section-one {
      
        padding: 188px 0;

       
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/hero-background.png");
    }

    .section-one .container {
        gap: 48px;
      
    }
}


@media screen and (min-width: 1158px) and (min-resolution: 192dpi),
screen and (min-width: 1158px) and (-webkit-min-device-pixel-ratio: 2) {
    .section-one {
      
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/hero-background@2x.png");
    }
}


.section-one .modal-open-btn {
    display: inline-block;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0;
}

.section-one .modal-open-btn:hover,
.section-one .modal-open-btn:focus {
    background-color: #404BBF;
}



.section-team {
    background-color: #F4F4FD;
 
    padding: 96px 0;
   
}


.section-team .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
 
}


.section-team .container ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
   
    padding: 0;
    margin: 0;
    list-style: none;
}


.section-team .container .team-card {
    background-color: #FFFFFF;
    width: 100%;
    max-width: 264px;
   
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    overflow: hidden;
}


.section-team .context-text {
    background-color: #FFFFFF;
    padding: 32px 0 8px 0;
    text-align: center;
}


.section-team .team-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-bottom: 32px;
    background-color: #FFFFFF;
}


.section-team .social-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
   
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-team .social-link:hover,
.section-team .social-link:focus {
    background-color: #404BBF;
   
    outline: none;
}


.section-team .social-link svg {
    width: 16px;
    height: 16px;
    fill: #F4F4FD;
  
    display: block;
}



@media screen and (min-width: 768px) {

    
    .section-team .container ul {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
     
        justify-content: center;
      
    }

    .section-team .container .team-card {
        width: calc((100% - 24px) / 2);
    }
}


@media screen and (min-width: 1158px) {
    .section-team {
        padding: 120px 0;
      
    }

  
    .section-team .container ul {
        gap: 24px;
       
    }

   
    .section-team .container .team-card {
        width: calc((100% - 3 * 24px) / 4);
    }
}


.our-portfolio {
    padding: 96px 0;
   
}


.our-portfolio .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}


.our-portfolio .container ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
   
    padding: 0;
    margin: 0;
    list-style: none;
}


.portfolio-link {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}


.our-portfolio .container .item {
    width: 100%;
    max-width: 396px;
   
    position: relative;
    border: 1px solid #E7E9FC;
    background-color: #FFFFFF;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.our-portfolio .container .item:hover,
.our-portfolio .container .item:focus-within {
    box-shadow: 0px 4px 16px rgba(46, 47, 66, 0.16),
        0px 8px 24px rgba(46, 47, 66, 0.12),
        0px 1px 4px rgba(46, 47, 66, 0.08);
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
    transform: translateZ(0);
   
}


.portfolio-text {
    padding: 32px 16px;
    background-color: #FFFFFF;
}


.our-portfolio .container .item .overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: #4D5AE5;
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}



@media screen and (min-width: 768px) {

    
    .our-portfolio .container ul {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        justify-content: center;
    }

  
    .our-portfolio .container .item {
        width: calc((100% - 24px) / 2);
        max-width: 356px;
    }
}



@media screen and (min-width: 1158px) {
    .our-portfolio {
        padding: 120px 0;
      
    }

   
    .our-portfolio .container ul {
        gap: 48px 24px;
      
    }

    
    .our-portfolio .container .item {
        width: calc((100% - 2 * 24px) / 3);
        max-width: 360px;
    }

   
    .our-portfolio .container .item .overlay {
        display: block;
      
        transform: translateY(101%);
       
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

  
    .our-portfolio .container .item:hover .overlay,
    .our-portfolio .container .item:focus-within .overlay {
        transform: translateY(0);
    }
}


.footer {
    background-color: #2E2F42;
  
    padding: 96px 0;
  
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
  
}


.footer .content {
    text-align: center;
  
    max-width: 268px;
}

.footer .logo {
    display: inline-block;
    margin-bottom: 16px;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
   
    text-decoration: none;
}

.footer .content p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}


.footer .social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.footer .social-media>p,
.footer .subscribe>p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}


.footer .team-socials {
    display: flex;
    gap: 16px;
   
}

.footer .social-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer .social-link:hover,
.footer .social-link:focus {
    background-color: #31D0AA;
   
    outline: none;
}

.footer .social-link svg {
    width: 24px;
   
    height: 24px;
    fill: #F4F4FD;
    display: block;
}


.footer .subscribe {
    width: 100%;
    max-width: 396px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}


.footer .subscribe-form {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    gap: 16px;
    width: 100%;
}

.footer .input-wrap {
    width: 100%;
}


.footer .subscribe-form input {
    width: 288px;
    height: 40px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #FFFFFF;
    outline: none;
}

.footer .subscribe-form input::placeholder {
    color: #FFFFFF;
}


.footer .subscribe-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .subscribe-btn:hover,
.footer .subscribe-btn:focus {
    background-color: #404BBF;
}


.footer .subscribe-icon {
    margin-left: 16px;
    fill: #FFFFFF;
    width: 24px;
    height: 24px;
}



@media screen and (min-width: 768px) {
    .footer .container {
        flex-direction: row;
        flex-wrap: wrap;
   
        align-items: baseline;
        gap: 72px 24px;
   
        max-width: 582px;
       
        margin: 0 auto;
    }

   
    .footer .content,
    .footer .social-media,
    .footer .subscribe {
        align-items: flex-start;
        text-align: left;
    }

  
    .footer .subscribe-form {
        flex-direction: row;
        gap: 24px;
    }

    .footer .subscribe-form input {
        width: 264px;
    
    }
}



@media screen and (min-width: 1158px) {
    .footer {
        padding: 100px 0;
        
    }

    .footer .container {
        max-width: 1158px;
     
        flex-wrap: nowrap;
       
        gap: 0;
       
    }

   
    .footer .content {
        margin-right: 80px;
    }

    .footer .social-media {
        margin-right: 80px;
    }

    .footer .subscribe {
        margin-left: auto;
      
    }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

  
    width: 288px;

    min-height: 584px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 16px 24px 16px;
  
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(0.9);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404BBF;
    border: none;
    fill: #FFFFFF;
}


.form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.form-element {
    margin-bottom: 8px;
}

.form-element label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
}

.input-wrap {
    position: relative;
    display: block;
    width: 100%;
}


.input-wrap input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
   
    outline: transparent;
    color: #2E2F42;
    font-size: 12px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.form-icon {
    position: absolute;
    left: 16px;
   
    top: 50%;
    transform: translateY(-50%);
  
    width: 18px;
    height: 18px;
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
}


.input-wrap input:focus {
    border-color: #4D5AE5;
}


.input-wrap:focus-within .form-icon {
    fill: #4D5AE5;
}


.form-element textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-element textarea:focus {
    border-color: #4D5AE5;
}

.form-element textarea::placeholder {
    color: rgba(46, 47, 66, 0.4);
}


.form-checkbox {
    margin-bottom: 24px;
}

.checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;

    display: flex;
    align-items: flex-start;
    cursor: pointer;
}


.checkbox-text-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.checkbox-text {
    display: block;
    color: #8E8F99;
   
}


.checkbox-label .privacy-link {
    color: #4D5AE5;
    text-decoration: underline;
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-label .privacy-link:hover,
.checkbox-label .privacy-link:focus {
    color: #404BBF;
    outline: none;
}


.custom-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    margin-top: 1px;
    flex-shrink: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.form-checkbox .visually-hidden:checked+.checkbox-label .custom-checkbox {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}


.form-button {
    width: 100%;
}

.form-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
    background-color: #404BBF;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


@media screen and (min-width: 768px) {
    .modal {
      
        width: 408px;
        padding: 72px 24px 24px 24px;
      
    }

    .checkbox-text-group {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4px;
    }

    .checkbox-label {
        align-items: center;
       
    }
}